name: Workflow Keepalive

on:
  schedule:
    - cron: "0 12 1 * *"


jobs:
  workflow-keepalive:
  if: github.event_name == 'schedule'
  runs-on: ubuntu-latest
  permissions:
    actions: write
  steps:
    # @v1
    - uses: liskin/gh-workflow-keepalive@f72ff1a1336129f29bf0166c0fd0ca6cf1bcb38c 
